SummaryStreaming/Deployment/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "Namespace prefix": {
      "type": "string",
      "metadata": {
        "description": "Prefix for Event hubs namespaces"
      }
    },
    "Storage Account Name": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage where to capture events"
      }
    },
    "SQL Admin Password": {
      "type": "securestring",
      "metadata": {
        "description": "Password of SQL Admin"
      }
    }
  },
  "variables": {
    "Simulation Burst Count": 10000,
    "Simulation Widget Range": 500,
    "Tumbling Window Length in Seconds": 5,
    "Update Summary Probe in Seconds": 2,
    "SQL Server Name": "[concat('sqlserver-', uniqueString(concat(resourceGroup().id, parameters('Namespace prefix'))))]",
    "SQL Server FQDN": "[concat(variables('SQL Server Name'), '.database.windows.net')]",
    "SQL DB Name": "summary",
    "SQL Admin Name": "server-admin",
    "SQL Script URL": "https://raw.githubusercontent.com/vplauzon/streaming/master/SummaryStreaming/Deployment/db-script.sql",
    "Primary Namespace": "[concat(parameters('Namespace prefix'), '-primary')]",
    "Secondary Namespace": "[concat(parameters('Namespace prefix'), '-secondary')]",
    "Primary Telemetry Hub Id": "[resourceId('Microsoft.EventHub/namespaces/eventhubs', variables('Primary Namespace'), 'telemetry')]",
    "Secondary Telemetry Hub Id": "[resourceId('Microsoft.EventHub/namespaces/eventhubs', variables('Secondary Namespace'), 'telemetry')]",
    "Summary Hub Id": "[resourceId('Microsoft.EventHub/namespaces/eventhubs', variables('Primary Namespace'), 'summary')]",
    "Primary Summary Listen Rule Id": "[resourceId('Microsoft.EventHub/namespaces/eventHubs/authorizationRules', variables('Primary Namespace'), 'summary', 'listenNamespaceRule')]",
    "Primary Telemetry Send Rule Id": "[resourceId('Microsoft.EventHub/namespaces/eventHubs/authorizationRules', variables('Primary Namespace'), 'telemetry', 'sendTelemetryRule')]",
    "Secondary Telemetry Send Rule Id": "[resourceId('Microsoft.EventHub/namespaces/eventHubs/authorizationRules', variables('Secondary Namespace'), 'telemetry', 'sendTelemetryRule')]",
    "Primary Telemetry Listen Rule Id": "[resourceId('Microsoft.EventHub/namespaces/eventhubs/authorizationRules', variables('Primary Namespace'), 'telemetry', 'listenTelemetryRule')]",
    "Secondary Telemetry Listen Rule Id": "[resourceId('Microsoft.EventHub/namespaces/eventhubs/authorizationRules', variables('Secondary Namespace'), 'telemetry', 'listenTelemetryRule')]",
    "Summary Send Rule Id": "[resourceId('Microsoft.EventHub/namespaces/eventhubs/authorizationRules', variables('Primary Namespace'), 'summary', 'sendSummaryRule')]",
    "queryBeforeFrom": "SELECT\r\nCOUNT(*) AS Count,\r\nwidgetId\r\n",
    "queryAfterFrom": "[concat('\r\nTIMESTAMP BY createdAt\r\nGROUP BY widgetId, TumblingWindow(second, ', variables('Tumbling Window Length in Seconds'), ')')]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "name": "[parameters('Storage Account Name')]",
      "apiVersion": "2017-10-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "sku": {
        "name": "Standard_LRS"
      },
      "tags": {},
      "kind": "StorageV2"
    },
    {
      "type": "Microsoft.Sql/servers",
      "name": "[variables('SQL Server Name')]",
      "apiVersion": "2015-05-01-preview",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "properties": {
        "administratorLogin": "[variables('SQL Admin Name')]",
        "administratorLoginPassword": "[parameters('SQL Admin Password')]"
      },
      "resources": [
        {
          "type": "databases",
          "name": "[variables('SQL DB Name')]",
          "apiVersion": "2014-04-01",
          "location": "[resourceGroup().location]",
          "tags": {},
          "dependsOn": [
            "[resourceId('Microsoft.Sql/servers/', variables('SQL Server Name'))]"
          ],
          "properties": {
            "edition": "Standard"
          }
        },
        {
          "type": "firewallRules",
          "name": "allow-azure-firewall-rule",
          "apiVersion": "2015-05-01-preview",
          "tags": {},
          "dependsOn": [
            "[resourceId('Microsoft.Sql/servers/', variables('SQL Server Name'))]"
          ],
          "properties": {
            "startIpAddress": "0.0.0.0",
            "endIpAddress": "0.0.0.0"
          }
        }
      ]
    },
    {
      "type": "Microsoft.ContainerInstance/containerGroups",
      "apiVersion": "2018-04-01",
      "name": "container-group",
      "location": "East US",
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers/databases', variables('SQL Server Name'), variables('SQL DB Name'))]"
      ],
      "properties": {
        "restartPolicy": "Never",
        "containers": [
          {
            "name": "sql-script-runner",
            "properties": {
              "image": "vplauzon/sql-script-runner",
              "environmentVariables": [
                {
                  "name": "SCRIPT_URL",
                  "value": "[variables('SQL Script URL')]"
                },
                {
                  "name": "SQL_SERVER",
                  "value": "[variables('SQL Server FQDN')]"
                },
                {
                  "name": "SQL_DB",
                  "value": "[variables('SQL DB Name')]"
                },
                {
                  "name": "SQL_USER_NAME",
                  "value": "[variables('SQL Admin Name')]"
                },
                {
                  "name": "SQL_PASSWORD",
                  "value": "[parameters('SQL Admin Password')]"
                }
              ],
              "resources": {
                "requests": {
                  "cpu": 1,
                  "memoryInGb": 0.2
                }
              }
            }
          }
        ],
        "osType": "Linux"
      }
    },
    {
      "type": "Microsoft.EventHub/namespaces",
      "apiVersion": "2017-04-01",
      "name": "[variables('Primary Namespace')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "sku": {
        "name": "Standard",
        "tier": "Standard",
        "capacity": 1
      },
      "properties": {
        "isAutoInflateEnabled": false,
        "maximumThroughputUnits": 0
      },
      "resources": [
        {
          "type": "eventhubs",
          "apiVersion": "2017-04-01",
          "name": "telemetry",
          "dependsOn": [
            "[resourceId('Microsoft.EventHub/namespaces', variables('Primary Namespace'))]",
            "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name'))]"
          ],
          "properties": {
            "messageRetentionInDays": 1,
            "partitionCount": 5,
            "status": "Active",
            "captureDescription": {
              "enabled": true,
              "encoding": "Avro",
              "intervalInSeconds": 120,
              "sizeLimitInBytes": 10485760,
              "destination": {
                "name": "EventHubArchive.AzureBlockBlob",
                "properties": {
                  "storageAccountResourceId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name'))]",
                  "blobContainer": "telemetry-capture"
                }
              }
            }
          },
          "resources": [
            {
              "type": "authorizationRules",
              "apiVersion": "2017-04-01",
              "name": "listenTelemetryRule",
              "dependsOn": [
                "[variables('Primary Telemetry Hub Id')]"
              ],
              "properties": {
                "rights": [
                  "Listen"
                ]
              }
            },
            {
              "type": "authorizationRules",
              "apiVersion": "2017-04-01",
              "name": "sendTelemetryRule",
              "dependsOn": [
                "[variables('Primary Telemetry Hub Id')]"
              ],
              "properties": {
                "rights": [
                  "Send"
                ]
              }
            }
          ]
        },
        {
          "type": "eventhubs",
          "apiVersion": "2017-04-01",
          "name": "summary",
          "dependsOn": [
            "[resourceId('Microsoft.EventHub/namespaces', variables('Primary Namespace'))]",
            "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name'))]"
          ],
          "properties": {
            "messageRetentionInDays": 1,
            "partitionCount": 5,
            "status": "Active",
            "captureDescription": {
              "enabled": true,
              "encoding": "Avro",
              "intervalInSeconds": 120,
              "sizeLimitInBytes": 10485760,
              "destination": {
                "name": "EventHubArchive.AzureBlockBlob",
                "properties": {
                  "storageAccountResourceId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name'))]",
                  "blobContainer": "summary-capture"
                }
              }
            }
          },
          "resources": [
            {
              "type": "authorizationRules",
              "apiVersion": "2017-04-01",
              "name": "sendSummaryRule",
              "dependsOn": [
                "[variables('Summary Hub Id')]"
              ],
              "properties": {
                "rights": [
                  "Send"
                ]
              }
            },
            {
              "type": "authorizationRules",
              "apiVersion": "2017-04-01",
              "name": "listenNamespaceRule",
              "dependsOn": [
                "[variables('Summary Hub Id')]"
              ],
              "properties": {
                "rights": [
                  "Listen"
                ]
              }
            }
          ]
        }
      ]
    },
    {
      "type": "Microsoft.EventHub/namespaces",
      "apiVersion": "2017-04-01",
      "name": "[variables('Secondary Namespace')]",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "sku": {
        "name": "Standard",
        "tier": "Standard",
        "capacity": 1
      },
      "properties": {
        "isAutoInflateEnabled": false,
        "maximumThroughputUnits": 0
      },
      "resources": [
        {
          "type": "eventhubs",
          "apiVersion": "2017-04-01",
          "name": "telemetry",
          "dependsOn": [
            "[resourceId('Microsoft.EventHub/namespaces', variables('Secondary Namespace'))]",
            "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name'))]"
          ],
          "properties": {
            "messageRetentionInDays": 1,
            "partitionCount": 5,
            "status": "Active",
            "captureDescription": {
              "enabled": true,
              "encoding": "Avro",
              "intervalInSeconds": 120,
              "sizeLimitInBytes": 10485760,
              "destination": {
                "name": "EventHubArchive.AzureBlockBlob",
                "properties": {
                  "storageAccountResourceId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name'))]",
                  "blobContainer": "telemetry-secondary-capture"
                }
              }
            }
          },
          "resources": [
            {
              "type": "authorizationRules",
              "apiVersion": "2017-04-01",
              "name": "listenTelemetryRule",
              "dependsOn": [
                "[variables('Secondary Telemetry Hub Id')]"
              ],
              "properties": {
                "rights": [
                  "Listen"
                ]
              }
            },
            {
              "type": "authorizationRules",
              "apiVersion": "2017-04-01",
              "name": "sendTelemetryRule",
              "dependsOn": [
                "[variables('Secondary Telemetry Hub Id')]"
              ],
              "properties": {
                "rights": [
                  "Send"
                ]
              }
            }
          ]
        }
      ]
    },
    {
      "type": "Microsoft.StreamAnalytics/StreamingJobs",
      "apiVersion": "2016-03-01",
      "name": "summary-job",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('Primary Telemetry Listen Rule Id')]",
        "[variables('Summary Send Rule Id')]",
        "[resourceId('Microsoft.EventHub/namespaces/eventhubs', variables('Secondary Namespace'), 'telemetry')]"
      ],
      "properties": {
        "sku": {
          "name": "standard"
        },
        "outputStartMode": "JobStartTime",
        "outputErrorPolicy": "stop",
        "eventsOutOfOrderPolicy": "adjust",
        "eventsOutOfOrderMaxDelayInSeconds": 0,
        "eventsLateArrivalMaxDelayInSeconds": 5,
        "dataLocale": "en-US",
        "inputs": [
          {
            "name": "primary-telemetry",
            "properties": {
              "type": "stream",
              "dataSource": {
                "type": "Microsoft.ServiceBus/EventHub",
                "properties": {
                  "serviceBusNamespace": "[variables('Primary Namespace')]",
                  "sharedAccessPolicyName": "listenTelemetryRule",
                  "sharedAccessPolicyKey": "[listKeys(variables('Primary Telemetry Listen Rule Id'), '2017-04-01').primaryKey]",
                  "eventHubName": "telemetry"
                }
              },
              "serialization": {
                "type": "Json",
                "properties": {
                  "encoding": "UTF8",
                  "format": "Array"
                }
              }
            }
          },
          {
            "name": "secondary-telemetry",
            "properties": {
              "type": "stream",
              "dataSource": {
                "type": "Microsoft.ServiceBus/EventHub",
                "properties": {
                  "serviceBusNamespace": "[variables('Secondary Namespace')]",
                  "sharedAccessPolicyName": "listenTelemetryRule",
                  "sharedAccessPolicyKey": "[listKeys(variables('Secondary Telemetry Listen Rule Id'), '2017-04-01').primaryKey]",
                  "eventHubName": "telemetry"
                }
              },
              "serialization": {
                "type": "Json",
                "properties": {
                  "encoding": "UTF8",
                  "format": "Array"
                }
              }
            }
          }
        ],
        "outputs": [
          {
            "name": "summary",
            "properties": {
              "type": "stream",
              "dataSource": {
                "type": "Microsoft.ServiceBus/EventHub",
                "properties": {
                  "serviceBusNamespace": "[variables('Primary Namespace')]",
                  "sharedAccessPolicyName": "sendSummaryRule",
                  "sharedAccessPolicyKey": "[listKeys(variables('Summary Send Rule Id'), '2017-04-01').primaryKey]",
                  "eventHubName": "summary"
                }
              },
              "serialization": {
                "type": "Json",
                "properties": {
                  "encoding": "UTF8",
                  "format": "Array"
                }
              }
            }
          }
        ],
        "transformation": {
          "name": "Transformation",
          "properties": {
            "streamingUnits": 1,
            "query": "[concat(variables('queryBeforeFrom'), 'FROM [primary-telemetry]', variables('queryAfterFrom'), '\r\nUNION\r\n', variables('queryBeforeFrom'),'FROM [secondary-telemetry]', variables('queryAfterFrom'))]"
          }
        }
      }
    },
    {
      "type": "microsoft.web/connections",
      "apiVersion": "2016-06-01",
      "name": "primaryNamespaceSendConnection",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('Primary Telemetry Send Rule Id')]"
      ],
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'eventhubs')]"
        },
        "displayName": "Primary Namespace Send Connection",
        "parameterValues": {
          "connectionString": "[concat('Endpoint=sb://', variables('Primary Namespace'), '.servicebus.windows.net/;SharedAccessKeyName=sendTelemetryRule;SharedAccessKey=', listKeys(variables('Primary Telemetry Send Rule Id'), '2017-04-01').primaryKey)]"
        }
      }
    },
    {
      "type": "microsoft.web/connections",
      "apiVersion": "2016-06-01",
      "name": "secondaryNamespaceSendConnection",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('Secondary Telemetry Send Rule Id')]"
      ],
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'eventhubs')]"
        },
        "displayName": "Secondary Namespace Send Connection",
        "parameterValues": {
          "connectionString": "[concat('Endpoint=sb://', variables('Secondary Namespace'), '.servicebus.windows.net/;SharedAccessKeyName=sendTelemetryRule;SharedAccessKey=', listKeys(variables('Secondary Telemetry Send Rule Id'), '2017-04-01').primaryKey)]"
        }
      }
    },
    {
      "type": "microsoft.web/connections",
      "apiVersion": "2016-06-01",
      "name": "primaryNamespaceListenConnection",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[variables('Primary Summary Listen Rule Id')]"
      ],
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'eventhubs')]"
        },
        "displayName": "Primary Namespace Listen Connection",
        "parameterValues": {
          "connectionString": "[concat('Endpoint=sb://', variables('Primary Namespace'), '.servicebus.windows.net/;SharedAccessKeyName=listenNamespaceRule;SharedAccessKey=', listKeys(variables('Primary Summary Listen Rule Id'), '2017-04-01').primaryKey)]"
        }
      }
    },
    {
      "type": "microsoft.web/connections",
      "apiVersion": "2016-06-01",
      "name": "sqlConnection",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Sql/servers/databases', variables('SQL Server Name'), variables('SQL DB Name'))]"
      ],
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'sql')]"
        },
        "displayName": "SQL Connection",
        "parameterValues": {
          "server": "[variables('SQL Server FQDN')]",
          "database": "[variables('SQL DB Name')]",
          "username": "[variables('SQL Admin Name')]",
          "password": "[parameters('SQL Admin Password')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "name": "update-summary-app",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'primaryNamespaceListenConnection')]",
        "[resourceId('Microsoft.Web/connections', 'sqlConnection')]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Execute_stored_procedure": {
              "inputs": {
                "body": {
                  "jsonPayload": "@string(triggerBody()?['ContentData'])"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[updateSummaries]'))}",
                "retryPolicy": {
                  "count": 50,
                  "interval": "PT5S",
                  "maximumInterval": "PT1H",
                  "minimumInterval": "PT5S",
                  "type": "exponential"
                }
              },
              "runAfter": {},
              "type": "ApiConnection"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "probeIntervalInSeconds": {
              "defaultValue": {},
              "type": "int"
            }
          },
          "triggers": {
            "When_events_are_available_in_Event_Hub": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['eventhubs']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('summary')}/events/batch/head",
                "queries": {
                  "contentType": "application/json",
                  "consumerGroupName": "$Default",
                  "maximumEventsCount": 50
                }
              },
              "recurrence": {
                "frequency": "Second",
                "interval": "@parameters('probeIntervalInSeconds')"
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "probeIntervalInSeconds": {
            "value": "[variables('Update Summary Probe in Seconds')]"
          },
          "$connections": {
            "value": {
              "eventhubs": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'eventhubs')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', 'primaryNamespaceListenConnection')]",
                "connectionName": "primaryNamespaceListenConnection"
              },
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', 'sqlConnection')]",
                "connectionName": "sqlConnection"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "name": "simulate-telemetry-app",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'primaryNamespaceSendConnection')]",
        "[resourceId('Microsoft.Web/connections', 'secondaryNamespaceSendConnection')]"
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "type": "Foreach",
              "foreach": "@range(0, parameters('burstRange'))",
              "actions": {
                "Generate-Event-Document": {
                  "type": "Compose",
                  "inputs": {
                    "createdAt": "@utcNow()",
                    "widgetId": "@rand(1, parameters('widgetRange'))"
                  },
                  "runAfter": {}
                },
                "Switch-Primary-Secondary": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@mod(items('For_each'), 3)",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Send_Primary_event": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['primary-eventhubs']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "ContentData": "@{base64(outputs('Generate-Event-Document'))}"
                        },
                        "path": "/@{encodeURIComponent('telemetry')}/events"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Generate-Event-Document": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_Secondary_event": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['secondary-eventhubs']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "ContentData": "@{base64(outputs('Generate-Event-Document'))}"
                          },
                          "path": "/@{encodeURIComponent('telemetry')}/events"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "widgetRange": {
              "defaultValue": {},
              "type": "int"
            },
            "burstRange": {
              "defaultValue": {},
              "type": "int"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "primary-eventhubs": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'eventhubs')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', 'primaryNamespaceSendConnection')]",
                "connectionName": "primaryNamespaceSendConnection"
              },
              "secondary-eventhubs": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'eventhubs')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', 'secondaryNamespaceSendConnection')]",
                "connectionName": "secondaryNamespaceSendConnection"
              }
            }
          },
          "widgetRange": {
            "value": "[variables('Simulation Widget Range')]"
          },
          "burstRange": {
            "value": "[variables('Simulation Burst Count')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "Primary Telemetry Send Connection String": {
      "type": "string",
      "value": "[concat('Endpoint=sb://', variables('Primary Namespace'), '.servicebus.windows.net/;SharedAccessKeyName=sendTelemetryRule;SharedAccessKey=', listKeys(variables('Primary Telemetry Send Rule Id'), '2017-04-01').primaryKey, ';EntityPath=telemetry')]"
    },
    "Secondary Telemetry Send Connection String": {
      "type": "string",
      "value": "[concat('Endpoint=sb://', variables('Secondary Namespace'), '.servicebus.windows.net/;SharedAccessKeyName=sendTelemetryRule;SharedAccessKey=', listKeys(variables('Secondary Telemetry Send Rule Id'), '2017-04-01').primaryKey, ';EntityPath=telemetry')]"
    },
    "SQL Summary Connection String": {
      "type": "string",
      "value": "[concat('Server=tcp:', variables('SQL Server FQDN'), ',1433;Initial Catalog=', variables('SQL DB Name'), ';Persist Security Info=False;User ID=', variables('SQL Admin Name'), ';Password=', parameters('SQL Admin Password'), ';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;')]"
    }
  }
}